<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sealbluetoothtoothpasteapp" >

    <permission android:name="com.sealbluetoothtoothpasteapp" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.sealbluetoothtoothpasteapp.InitialActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sealbluetoothtoothpasteapp.DataDisplayActivity"
            android:label="@string/title_activity_data_display"
            android:parentActivityName="com.sealbluetoothtoothpasteapp.InitialActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.sealbluetoothtoothpasteapp.InitialActivity" />
        </activity>
        <service android:name=".RFduinoService"/>

    </application>

</manifest>
